.selected {color:#222222}
.selected a{background-color: black;
border: none;
outline: none;
border:1px solid #222222;
color:#6f6e6e
}

 .disabled a{color: aliceblue;}
 .next{color: aliceblue;}
 .previous {color: aliceblue;}

 li a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: azure;
margin-left: 10px;
font-size: 18px;
cursor: pointer;
}
li:hover{transform: scale(1.1);}
 ul{
    
    display: flex;
    justify-content: center;
    
}
