
.header{
    display: flex;
    justify-content: space-between;
    height: 160px;
    background-color:#111111;
}
.gidOnline{
    font-size: 170px;
    color: rgba(100, 100, 100, 0.2);
    margin: 0 auto;
    width: 100%;
    text-align:center;
}
.header__wrap_left_block{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px 0 40px 40px;
}

.navigation{
    display: flex;
    justify-content:flex-start;

}
.navigation_item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-right: 1px solid #5c5a5a;
    padding:0 20px;
    color: #5c5a5a;
    }
.navigation_item:hover{
    transform: none;
}
.navigation_item:first-child{
    margin-left: 0;
}
.navigation_item:last-child{
    border-right:none;
}
.navLink{ 
    color: #9d9b9b;
    height: 20px;
    font-size: 20px;
    background-color: #111111;
    text-decoration: none;
}

.login{    width: 210px;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout{
    margin-left: 5px;
    color: rgb(101, 96, 96);
    font-size: 30px;
    cursor: pointer;
}
.logout:hover{transform: scale(1.2);}

.logoutText{color:  rgb(101, 96, 96);}