.item{
    width: 290px;
   margin-top: 3px;

    list-style: none;
    padding: 10px;
    background-color: #222222;
}
.item:hover{background-color: #373636;

}

.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 877px;
   
    background-color: rgb(15, 14, 14);
    padding: 0;
   
}

.publicity{
    width: 320px;
    color:red;
    background-color: #383838;
    margin-top: 5px;}

.wrap{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.wrap__info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}
.year{
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 0, 0);}

.title{
    width: 100%;
color: #b3b3b3;
font-weight: bold;
text-decoration: none;
font-size: 20px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
text-align: center;
}
