.item{
    width: 290px;
   margin-top: 3px;

    list-style: none;
    padding: 10px;
    background-color: #222222;
}
.item:hover{background-color: #373636;}

.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 877px;
   
    background-color: rgb(15, 14, 14);
    padding: 0;
   
}

.publicity{
    width: 320px;
    color:red;
    background-color: #383838;
    margin-top: 5px;}

.wrap{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.wrap__info{
    display: flex;
    justify-content: space-between;
}

.title{
    text-align: center;
color: #b3b3b3;
font-weight: bold;
text-decoration: none;
font-size: 20px;
}
