.wrapWrap{
padding: 5px;
width: 330px;
background-color: #222222;
}

.wrapRegistration{ 
    background-color: rgb(96, 95, 95);
}

.wrapRegistration button{ 
color:#a9a5a5;
width: 50%;
border:none;
outline: none;
padding: 3px;
font-weight: bold;
margin: 0;
background-color: #383838;
border: none;
outline: none;
border: 2px solid #222222;
}
.wrapRegistration button:hover{
    font-size: 19px;color: #a9a5a5;
}
.wrapRegistration button:first-child{
    border-left: 1px solid #040404;
}
.featuredMovies{
    color:#a9a5a5;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.arrow{
    color:red;
font-size: 16px;
margin-left: 5px;
}
.listFilms{
display: flex;
flex-wrap: wrap;
max-height: 1056px;
overflow: hidden;
width: 320px;
justify-content: space-evenly;
background-color: #222222;
}
.itemFilm{
    max-width: 150px;
   
    cursor: pointer;

}
.itemFilm:hover{
    border: 4px solid rgb(131, 129, 129); 
      transform: none;
    }
.titleFilm{

    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
background-color: #222222;
color: #a9a5a5;
text-align: center;
}

