.wrapWrap{
    margin-top: -4px;
padding: 5px;
width: 330px;
background-color: #222222;
}

.featuredMovies{
    color:#a9a5a5;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.arrow{
    color:red;
font-size: 16px;
margin-left: 5px;
}
.listFilms{
display: flex;
flex-wrap: wrap;
max-height: 1056px;
overflow: hidden;
width: 320px;
justify-content: space-evenly;
background-color: #222222;
}
.itemFilm{
    max-width: 150px;
   height: 264px;
    cursor: pointer;
}
.itemFilm:hover{
    border: 3px solid rgb(131, 129, 129); 
    }
.titleFilm{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    background-color: #222222;
    color: #a9a5a5;
    text-align: center;
  
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

