.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #222222;
}

.wrap__contacts{
    display: flex;
    padding: 0 0;
}

.wrap__contacts > li a {
     color: rgb(101, 99, 96);
    font-size: 18px;
 }

 .wrap__contacts > li a:hover{
       color: rgb(200, 194, 187);
}

.gitOnline{color: rgb(200, 194, 187);
    font-size: 18px;
}

.gitOnline  a {
    color: rgb(101, 99, 96);
}