.container{
    width: 100%;
border: 4px solid #222222;
 
    color:white;
display: flex;
justify-content: center;
align-items: center;
}

.video{
    width: 874px;
    height: 505px;
 
background-color: red;}