.item{
    width: 165px;
margin-top: 3px;




    list-style: none;
    padding: 10px;
    background-color: #222222;
}
.item:hover{background-color: #373636;}

.list{
    display: flex;
    justify-content: space-between;
  flex-wrap: nowrap;

    overflow: hidden;
 
    width: 1200px;
    min-height: 230px;
   
    background-color: black;
    overflow: hidden;
   
}

.publicity{width: 320px;color:red;background-color: #222222;margin-top: 5px;}

.wrap{display: flex;justify-content: space-between;}


.title{
    text-align: center;
color: #b3b3b3;
font-weight: bold;
text-decoration: none;
font-size: 20px;
}